 <header class="navbar navbar-fixed-top" style="margin-top:75px;position:fixed;z-index:100;">
  <div style="background-color:#000;" class="navbar-inner">
      <div style="width:1170px;" class="container">
          <div class="nav-collapse collapse" id="navigation">
              <ul style="padding-top:5px;padding-bottom:8px;" class="nav">  
                 <li ><a href="/faq" style="color:#fff;">FAQ</a></li>                                                      
                 <li ><a href="/terms_of_service">Terms of Service</a></li> 
                 <li ><a href="/privacy_policy">Privacy Policy</a></li>                           
              </ul>
          </div>                                       
      </div>
  </div>
           
</header>
        <!-- End Header / Nav -->
        

       

       <!-- Begin page Frequently Asked Questions (FAQ) -->
        <section class="page services" style="background:#fff;">
            <div class="container" style="padding-top:60px;padding:90px;">
              <h1>Frequently Asked Questions (FAQ)</h1>                            
              <div class="hero"  >     
              <h3 class="quest" >Our support goal is to provide you great self-service tools that insure your success.
                     Still need help after reading these? Submit your questions and inquiries through info@hometutor.org.in</h3>                    
              </div>              
              <div class="row">
              
              <!-- question caegoryA begin -->
                <div class="span9 text-color">
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Course</h3>                                                   
                <!-- question drop down begin-->
                <div class="accordion" id="accordionA">
                 <h3 class="smll-heading">Students related</h3>  

                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q1">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">I wish to take the course. How do I sign up? </a>
                        </div>
                        <div id="Q1" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>

                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q2">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">How do I log in to access hometutor course?</a>
                        </div>
                        <div id="Q2" class="faq-answer accordion-body collapse">                            
                                Agdfkhkj                           
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q3">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What are the different courses available?</a>
                        </div>
                        <div id="Q3" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q4">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What does it cost to take a course?</a>
                        </div>
                        <div id="Q4" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q5">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">How do I pay for the course?</a>
                        </div>
                        <div id="Q5" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q6">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What happens after I sign up?</a>
                        </div>
                        <div id="Q6" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q7">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What are the prerequisites for the course? Is internet necessary?</a>
                        </div>
                        <div id="Q7" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q8">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">I'm already taking a weekly coaching. Is it beneficial for me to join hometutor course?</a>
                        </div>
                        <div id="Q8" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q9">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What is the time to attend the tests?</a>
                        </div>
                        <div id="Q9" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                     <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q10">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">Can I access hometutor courses on my smart phone or tablet?</a>
                        </div>
                        <div id="Q10" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                     <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q11">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">If I miss a day's event, how does this affect my performance?</a>
                        </div>
                        <div id="Q11" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                     <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q12">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">How can I talk to professors and teaching assistants?</a>
                        </div>
                        <div id="Q12" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>                    
                    
                     <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q13">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">A course that I am interested has already started. Can I still enroll?</a>
                        </div>
                        <div id="Q13" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                     <h3 class="smll-heading">Parents related</h3>  
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q14">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What should I do to know my son's/daughter's performance ?</a>
                        </div>
                        <div id="Q14" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div> 
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionA" href="#Q15">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What if I doesn't know my son's/daughter's admisssion ID?</a>
                        </div>
                        <div id="Q15" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>                                       
                   </div>
                   <!-- question drop down end-->                
                </div> 
                <!-- question caegoryA end -->
                
                
                <!-- question caegoryB begin -->
                <div class="span9 text-color">
                  <h3 id="abt" class="quest" style="padding-top:30px;padding-bottom:15px;font-weight:normal">Account/Registration</h3>                                   
                
              <!-- question drop down begin-->
                <div class="accordion" id="accordionB">
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionB" href="#QB1">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">Who can take hometutor course? How to register?</a>
                        </div>
                        <div id="QB1" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>

                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionB" href="#QB2">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What if I have technical trouble with registration, login, or course access?</a>
                        </div>
                        <div id="QB2" class="faq-answer accordion-body collapse">                            
                                Agdfkhkj                           
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionB" href="#QB3">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What if I forget my password?</a>
                        </div>
                        <div id="QB3" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                    
                    <div class="accordion-group" style="border:none;">
                        <div class="accordion-heading">
                            <a id="faq-question" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionB" href="#QB4">
                            <img class="faq-bullet" src="/assets/Faq-bullet.png">What if I did not receive an activation email?</a>
                        </div>
                        <div id="QB4" class="faq-answer accordion-body collapse">                            
                                sgdfkhkj                            
                        </div>
                    </div>
                                       
                   </div>
                   <!-- question drop down end-->                           
                </div> 
                   <!-- question caegoryB end -->                                                                                                      
              </div>                   
            </div>          
        </section>       