<header class="navbar navbar-fixed-top" style="margin-top:75px;position:fixed;z-index:100;">
  <div style="background-color:#000;" class="navbar-inner">
    <div style="width:1170px;" class="container">
        <div class="nav-collapse collapse" id="navigation">
          <ul style="padding-top:5px;padding-bottom:8px;" class="nav">
             <li ><a href="#Knowledge_Base">Knowledge Base</a></li>                                                      
             <li ><a href="#Asking_question">Asking question</a></li>  
             <li ><a href="#Questions_listing">Questions listing</a></li>  
             <li ><a href="#Visualizations">Visualizations</a></li>  
             <li ><a href="#User_voting">User voting</a></li>                                                                                                      
          </ul>
        </div>                                       
    </div>
  </div>           
</header>
        <!-- End Header / Nav -->        

       

       <!-- Begin page Knowledge Base -->
        <section id="Knowledge_Base" class="page services" >
            <div class="container" style="padding-top:60px; padding: 90px;">
             <h1 id="abt">Knowledge Base</h1>      
                <div class="hero" style="margin-top:60px;">

                    <h3 class="quest" >Share your knowlegde, ask your doubts and learn collaboratevely.</h3>
                </div>
                <br><br>
                <div class="row">
                     <div class="span4 "> 
                        <br>                      
                        <h2 id="abt" class="quest">What is?</h2>   
                        <br>                     
                        <p class="lead op6" style="font-size:17px;">
                            The knowledge base (KB) is where you can ask doubts to your favorite subject teachers and they will individually answer your questions. 
                            Yours and friend's most relevant questions will be published in common visible area and 
                            you in turn can vote to these questions and their answers depending on how important the question or answer is to you.
                        </p>                       
                    </div> 
                    <br>  
                     <div class="span3 offset1">
                        <h2 id="abt" class="quest">KB features</h2>                        
                        <br>
                        <h3 class="op6">Subject wise listing</h3>
                        <h3 class="op6">Personal level answering</h3>
                        <h3 class="op6">User voting</h3>                        
                    </div>
                    <div class="span3 offset1">
                        <h2 id="abt" class="quest">Different visualizations</h2>                        
                        <br>
                        <h3 class="op6">Most rated</h3>
                         <h3 class="op6">Latest</h3>
                          <h3 class="op6">Unit wise</h3>
                    </div>                                                     
                </div>                   
            </div>
            
        </section>       
        <!-- End page Knowledge Base -->


         <!-- Begin page Asking question -->
        <section id="Asking_question" class="page services" style="background:#fff;">
            <div class="container" style="padding: 90px;">

                <h1>Asking question</h1>

                <div class="row">                
                    <div class="span4 ">
                        <h2 class="quest">This has been the easiest among all the features!</h2>
                        <br><br>
                        <p class="lead op6">
                            The learner of HOMETUTOR has the previlege to ask questions where he/she needs clarification over a topic.
                             These questions are individually displayed in the Mentor's area and are answered by them. 
                             If the mentor approves the same to be posted publically,  every other students can also view this questions and it's answer.                            
                        </p>
                    </div>
                    <div class="span7 text-color offset1">
                        <!--<h2>How effective is Home Tutor?</h2>-->
                        <img src="/assets/Asking_question.png">
                        <br>
                    </div>

                </div>                                  
            </div>
        </section>
        <!-- End page Asking question -->


       <!-- Begin page Questions listing -->
        <section id="Questions_listing" class="page services" style="background:#f0efeb;">
            <div class="container" style="padding: 90px;">

                <h1>Questions listing</h1>

                <div class="row">                   
                    <div class="span3 ">
                        <h2 id="abt" class="quest">Subject wise</h2> 
                        <!--<h2 class="quest">For convenience we have grouped all the questions you have asked into different categories</h2>
                        <br><br>-->
                        <p class="lead op6" style="font-size:17px;padding-top:30px;">
                            In the process of learning, it is further subdivided based on the subjects he has to go through viz Physics, Chemistry, Maths, Botany and Zoology. 
                        </p>                          
                    </div>
                     <div class="span3 text-color" style="padding-top:80px;">                        
                        <img src="/assets/Subject.png">
                        <br>
                    </div>
                                       
                    <div class="span3 ">
                        <h2 id="abt" class="quest">Related questions</h2> 
                        <!--<h2 class="quest">For convenience we have grouped all the questions you have asked into different categories</h2>
                        <br><br>-->
                        <p class="lead op6" style="font-size:17px;padding-top:30px;">
                           Related questions are displayed by the side of a choosen question, 
                           this helps the students easily to roll on to other questions that are connneted to the current topic or context. 
                        </p>                          
                    </div>
                    <div class="span3 text-color" style="padding-top:80px;">                        
                        <img src="/assets/Related.png" width="">
                        <br>
                    </div>
                </div>                                            
            </div>

        </section>
        <!-- End page Questions listing -->
    

        
        
       <!-- Begin page Visualizations -->
        <section id="Visualizations" class="page services" style="background:#fff;">
            <div class="container" style="padding: 90px;">
            <h1>Visualizations</h1>
                <div class="row">
                    <div class="span5" style="width:400px;">
                        <h2 style="color:#000;" class="quest">Most Rated</h2>                        
                        <img src="/assets/Most_rated.png">
                        <br>
                        <p class="big-font lead op6" style="padding-top:30px;">
                            Based on the type of questions and its relevance the students have the provision to rate the question. 
                            Based on the highest number of voting it is termed most rated. The no. of likes for the questions are also displayed in this level.
                        </p>
                    </div>

                    <div class="span5 offset1" style="width:400px;">
                        <h2 style="color:#000;" class="quest">Latest</h2>                        
                        <img src="/assets/Latest.png">
                        <br>
                        <p class="big-font lead op6" style="padding-top:30px;">
                            The latest or the most recent event or action are displayed in this area.
                             This helps the students to view the latest updates or any events in the application.
                        </p>
                    </div>
                </div>                                            
            </div>
            
            <br><br>
            <div class="container" style="padding: 90px;">
                <div class="row">
                    <div class="span5" style="width:400px;">
                        <h2 style="color:#000;" class="quest">Unapproved</h2>                        
                        <img src="/assets/Unapproved.png">
                        <br>
                        <p class="big-font lead op6" style="padding-top:30px;">
                            Every subject is further divided into smaller compartments or units. From this set, the student can choose a topic for study which he has already undergone in the class.
                             In HOMETUTOR, we have compiled smaller units which are similar or based on the same concept to a single unit thus comprising a total of ten units for a subject per year.                            
                        </p>
                    </div>

                    <div class="span5 offset1" style="width:400px;">
                        <h2 style="color:#000;" class="quest">Choose unit</h2>                        
                        <img src="/assets/Choose_unit.png">
                        <br>
                        <p class="big-font lead op6" style="padding-top:30px;">
                            Every subject is further divided into smaller compartments or units. From this set, the student can choose a topic for study which he has already undergone in the class.
                             In HOMETUTOR, we have compiled smaller units which are similar or based on the same concept to a single unit thus comprising a total of ten units for a subject per year.
                        </p>
                    </div>

                </div>                                            
            </div>
        </section>
        <!-- End page Visualizations -->
    
                   
      
       <!-- Begin page User voting -->
        <section id="User_voting" class="page services" style="background:#fff;">
            <div class="container" style="padding: 90px;">
                <h1>User voting</h1>
                <div class="row">   
                    <div class="hero" >                      
                      <p class="lead op6" style="margin-left:20px;font-size:25px;line-height:35px;opacity:.8;font-weight: 300;">
                            The students have the previlege of casting their votes for good quality questions raised. 
                            Based on the number of votes the questions will be displayed within the 'most rated' view.  
                      </p>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Voting.png">  
                    </div>                              
                </div>                                  
            </div>

        </section>