<section id="Personalized_Learning" class="page services" style="background:#fff;">
            <div class="container" style="padding-top:60px;">
                <h1 id="abt">Discover how the new generation learning happens.</h1>
                <div class="row">   
                    <div class="hero" >                      
                      <p class="lead op6" style="margin-left:20px;font-size:25px;line-height:35px;opacity:.8;font-weight: 300;">
                            Putting before you the amazing learning application from Home Tutor. It is easy, resourceful and comprehensive. See what it has.  
                      </p>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Digital_learning.jpg">  
                    </div>                              
                </div>                                  
            </div>

        </section>
        <!-- End page Personalized_Learning -->

       

       <!-- Begin page What is -->
        <div class="services" style="padding-top:30px;padding-bottom:30px;background:#005597;" >                          <!-- a div in place -->
            <div class="container" >                             
                <div class="row" >
                     <div class="span3 "> 
                        <br>                      
                        <h2 id="abt" style="color:#fff;" class="quest">What is?</h2>   
                        <br>                     
                        <p class="lead op6" style="font-size:17px;color:#fff;">
                            This is a complete learning and coaching package built on the advent of technology exclusively intented for secondary education.
                             It's main focus is on the entrance exam coaching, but it equally good in the board exam preparation.
                        </p>
                     </div> 
                     <br>  
                     <div class="span4 offset1">
                        <h2 id="abt" class="quest" style="color:#fff;">Features</h2>                        
                        <br>
                        <h3 style="color:#fff;">Personalized Learning Methodology</h3>
                        <h3 style="color:#fff;">Student - Mentor Interactive Learning</h3>
                        <h3 style="color:#fff;">Exhaustive Learning Resources</h3>                        
                    </div>
                    <div class="span4 ">
                        <h2 id="abt" class="quest" style="color:#fff;">&nbsp;</h2>                        
                        <br>
                        <h3 style="color:#fff;">Knowledge Base</h3>
                        <h3 style="color:#fff;">Real - Time Examinations</h3>
                        <h3 style="color:#fff;">Analytics with deeper performance insights</h3>
                    </div>                                                     
                </div>              
            </div>            
        </div>                                                         <!-- a div in place -->
        <!-- End page What is -->


        <!-- Begin page Evaluation_Methodology -->
        <section id="Evaluation_Methodology" class="page services" style="background:;">
            <div class="container">

                <!--<h1 id="abt">Effective Learning</h1>-->               
                <h3 style="text-align:center;" >We believe that learning is a combined and diligent process. We've <span id="abt">three different user levels </span> and they have their own 
                roles to play in the whole process.</h3>
                <br><br>
                <div class="row">                    
                    <div class="span3 ">
                    <img src="/assets/Student.gif">
                        <h2 id="abt" class="quest pad">Student</h2>                        
                        <p id="abt" class="norml-para ">
                            'how is student benefiting, what are their features.or how can they ensure their '
                        </p>
                    </div>
                    <div class="span3 offset1"> 
                    <img src="/assets/Teacher.gif">                       
                        <h2 id="abt" class="quest pad">Mentor</h2>                        
                        <p id="abt" class="norml-para ">
                            'what does our mentoring does..this is one of the distinct feature from others..'                          
                        </p>
                    </div>
                    <div class="span3 offset1" >
                        <!--<h2>How effective is Home Tutor?</h2>-->
                        <img src="/assets/Institution.gif">
                        <h2 id="abt" class="quest pad">School</h2>
                        <p id="abt" class="norml-para ">
                            'Every management is competitive..So how they can move ahead of others..how are they involved in the system, so they can monitor the entire learning process and performance. '
                        </p>
                    </div>                                      
                </div>                                            
            </div>

        </section>
        <!-- End page Evaluation_Methodology -->
                          

          <!-- Begin page Mailbox -->
        <div class=" services" style="background:#fff;padding-top:60px;padding-bottom:40px;">
            <div class="container">                                
                <div class="row">
                    <div class="span4 ">    
                        <h3  class="head">Get to us from any device.</h3>
                        <br><br>                  
                        <p id="abt" class="norml-para" >
                            Enjoy non - stop learning at home or at school or even on a travel. You can use the gadget of your choice viz desktop or laptop
to surf through the site.                            
                        </p>                                                                       
                    </div>
                    <div class="span7 text-color offset1">
                         <!--<h2>How effective is Home Tutor?</h2>-->
                        <img src="/assets/Responsive.png">
                        <br>

                    </div>                  
                </div>                                            
            </div>
        </div>
        <!-- End page Mailbox -->

          <!-- Begin page Mailbox -->
        <div class=" services" style="background:;padding-top:40px;padding-bottom:40px;">
            <div class="container">                                
                <div class="row">
                    <div class="span8 ">    
                        <h3  class="head">That's the application in a nutshell.</h3>
                        <br>                  
                        <p id="abt" class="norml-para " >
                            Create your account now to get started in the innovative approach in entrance coaching and learning.                        
                        </p>
                        <p id="abt" class="" >
                            We recommend a broadband connection for the best experience.                         
                        </p>                                                                       
                    </div>
                    <div class="span3 text-color offset1">
                        <%= link_to "Join Home Tutor", new_user_registration_path, class:"btn" ,style:"position:relative;float:right;right:20%;" %></p>
                        <br>

                    </div>                  
                </div>                                            
            </div>
        </div>