<header class="navbar navbar-fixed-top" style="margin-top:75px;position:fixed;z-index:100;">
<div style="background-color:#000;" class="navbar-inner">
  <div style="width:1170px;" class="container">
      <div class="nav-collapse collapse" id="navigation">
          <ul style="padding-top:5px;padding-bottom:8px;" class="nav">
             <li ><a href="#Personalized_Learning">Personalized </a></li>   
             <li ><a href="#Resources">Resources</a></li>  
             <li ><a href="#Examinations">Examination</a></li>                                                  
             <li ><a href="#Evaluation_Methodology">Evaluation Methodology</a></li>  
             <li ><a href="#Performance_Charts">Performance Charts</a></li>                               
             <li ><a href="#Mailbox">Mailbox</a></li>                                                                                               
          </ul>
      </div>                                       
  </div>
</div>
</header>
       <!-- Begin page Personalized_Learning -->
        <section id="Personalized_Learning" class="page services" style="background:#fff;">
            <div class="container" style="padding-top:60px;padding:90px;">
                <h1>Personalized Learning</h1>
                <div class="row">   
                    <div class="hero" >                      
                      <p class="lead op6" style="margin-left:20px;font-size:25px;line-height:35px;opacity:.8;font-weight: 300;">
                            The students have the previlege of casting their votes for good quality questions raised. 
                            Based on the number of votes the questions will be displayed within the 'most rated' view.  
                      </p>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Personalized.png">  
                    </div>                              
                </div>                                  
            </div>

        </section>
        <!-- End page Personalized_Learning -->

       

       <!-- Begin page What is -->
        <div class="services" style="padding-top:30px;padding-bottom:30px" >                          <!-- a div in place -->
            <div class="container" style="padding:90px;">                             
                <div class="row" >
                     <div class="span3 "> 
                        <br>                      
                        <h2 id="abt" class="quest">What is?</h2>   
                        <br>                     
                        <p class="lead op6" style="font-size:17px;">
                            It comprises of your full history of secondary education learning, available subjects wise through different duration of time. 
                            It gives you new insights on your performance and learning.
                        </p>
                     </div> 
                     <br>  
                     <div class="span4 offset1">
                        <h2 id="abt" class="quest">Parameters we assess</h2>                        
                        <br>
                        <h3 class="op6">Time management</h3>
                        <h3 class="op6">Accuracy</h3>
                        <h3 class="op6">Stratergy</h3>
                        <h3 class="op6">Proficiency</h3>
                    </div>
                    <div class="span4 ">
                        <h2 id="abt" class="quest">Others</h2>                        
                        <br>
                        <h3 class="op6">Comparisons</h3>
                         <h3 class="op6">Learning Curve</h3>
                          <h3 class="op6">Personal Best</h3>
                    </div>                                                     
                </div>              
            </div>            
        </div>                                                         <!-- a div in place -->
        <!-- End page What is -->



       <!-- Begin page Resources -->
        <section id="Resources" class="page services" style="background:#fff;">
            <div class="container" style="padding:90px;">

                <h1>Resources</h1>

                <div class="row">
                    <div class="span7 text-color" style="margin-top:10px;">
                        <!--<h2>How effective is Home Tutor?</h2>-->
                        <img class="span3" style="box-shadow:2px 2px 100px 10px pink;" src="/assets/Resource-Physics.jpg" >
                        <img class="span3" style="box-shadow:2px 2px 100px 10px pink;" src="/assets/Resource-Chemistry.jpg">
                        <br>

                    </div>

                    <div class="span4 offset1">
                        <h2 class="quest">How much questions do you attend in an exam? Found time to attend the known questions?</h2>
                        <br><br>
                        <p class="lead op6">
                            One has to attend the maximum number of questions in an examination and this becomes possible when the time is managed effectively. 
                            This is absolutely critical in aptitude tests and conscious effort has to be laid to bring an increase in this number.
                             This parameter records the number of questions you attend over the days.  
                        </p>                          
                    </div>

                </div>                                            
            </div>

        </section>
        <!-- End page Resources -->
   
    
        <!-- Begin page Examinations -->
        <section id="Examinations" class="page services" style="background:#fff;">
            <div class="container" style="padding:90px;">
                <h1>Examinations</h1>
                <div class="row">   
                    <div class="hero" >                      
                      <p class="lead op6" style="margin-left:20px;font-size:25px;line-height:35px;opacity:.8;font-weight: 300;">
                            The students have the previlege of casting their votes for good quality questions raised. 
                            Based on the number of votes the questions will be displayed within the 'most rated' view.  
                      </p>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Personalized.png">  
                    </div>                              
                </div>                                  
            </div>

        </section>
        <!-- End page Examinations -->
            
      
         <!-- Begin page Evaluation_Methodology -->
        <section id="Evaluation_Methodology" class="page services" style="background:#fff;">
            <div class="container" style="padding:90px;">

                <h1>Evaluation Methodology</h1>               
                <h3 id="abt">We've two parameters to track your progress in learning</h3>
                <br><br>
                <div class="row">                    
                    <div class="span3 ">
                        <h2 class="quest">Ranking</h2>                        
                        <p class="lead op6">
                            This is the best performance you have ever achieved, in terms of a parameter through our learning system.
                             It is of no doubt that it will arouse motivation and a competitive spirit to better yourself each time you attend an event.                            
                        </p>
                    </div>
                    <div class="span3 offset1">                        
                        <h2 class="quest">Relative Grading</h2>                        
                        <p class="lead op6">
                            We track your each step of learning, brings comparisons over different durations portraying your up-growth or down-growth over these periods. 
                            This too will help you to analyze your performance and to improvise in your learning methods, if necessary.                           
                        </p>
                    </div>
                    <div class="span3 text-color offset1">
                        <!--<h2>How effective is Home Tutor?</h2>-->
                        <img src="/assets/Track.png">
                        <br>
                    </div>                                      
                </div>                                            
            </div>

        </section>
        <!-- End page Evaluation_Methodology -->
      
      
      
       <!-- Begin page Performance_Charts -->
        <section id="Performance_Charts" class="page services" style="background:#fff;">
            <div class="container" style="padding:90px;">

                <h1>Performance Charts</h1>
                
                <!-- Begin student's View -->
                <div class="row"> 
                    <div class="hero" >                      
                      <div class="span12 ">
                         <h2 class="custom-heading" style="font-weight:normal;font-size:28px;margin-bottom:10px;">Student's View</h2>
                        
                         <p class="norml-para op6" style="text-align:left">
                            It describes your approach taken in answering the questions. Out of the 3 levels of questions namely L1(easy), L2 (average) and L3(hard),
                             the best strategy is find and attend the questions of relative easiness, thus increasing the probability to attend more questions at the same time getting them right.
                            L2 constitutes the majority of questions, L1 and L3 contributes the rest, almost in equal proportions.  
                         </p>                          
                      </div>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Performance_Chart_Student1.png">  
                    </div>                                                        
                </div>   
                <!-- End student's View -->
                
                <br><br><br>
                
                <!-- Institution's View begin-->
                <div class="row" > 
                    <div class="hero" >                      
                      <div class="span12 ">
                         <h2 class="custom-heading" style="font-weight:normal;font-size:28px;margin-bottom:10px;">Institution's View</h2>
                        
                         <p class="norml-para op6" style="text-align:left">
                            It describes your approach taken in answering the questions. Out of the 3 levels of questions namely L1(easy), L2 (average) and L3(hard),
                             the best strategy is find and attend the questions of relative easiness, thus increasing the probability to attend more questions at the same time getting them right.
                            L2 constitutes the majority of questions, L1 and L3 contributes the rest, almost in equal proportions.  
                         </p>                          
                      </div>
                      <img style="padding-top:40px;width:940px;margin-left:20px;" src="/assets/Performance_Chart_School.png">  
                    </div>                                                        
                </div>   
                <!-- Institution's View End-->
                                               
            </div>
        </section>
        <!-- End page Performance_Charts -->

                    
        
          <!-- Begin page Mailbox -->
        <section id="Mailbox" class="page services" style="background:#f0efeb;">
            <div class="container" style="padding:90px;">

                <h1>Mailbox</h1>

                <div class="row">
                    <div class="span4 ">
                        <img style="padding-bottom:30px;" src="/assets/messaging.png">
                        <p class="lead op6">
                            One has to attend the maximum number of questions in an examination and this becomes possible when the time is managed effectively. 
                            This is absolutely critical in aptitude tests and conscious effort has to be laid to bring an increase in this number.
                             This parameter records the number of questions you attend over the days.                            
                        </p>                                               
                    </div>
                    <div class="span7 text-color offset1">
                        <!--<h2>How effective is Home Tutor?</h2>-->
                        <img src="/assets/Messages.png">
                        <br>

                    </div>                  
                </div>                                            
            </div>