<header class="navbar navbar-fixed-top" style="margin-top:75px;position:fixed;z-index:100;">
  <div style="background-color:#000;" class="navbar-inner">
    <div style="width:1170px;" class="container">
          <div class="nav-collapse collapse" id="navigation">
              <ul style="padding-top:5px;padding-bottom:8px;" class="nav">  
                 <li ><a href="/faq" >FAQ</a></li>                                                      
                 <li ><a href="/terms_of_service">Terms of Service</a></li>  
                 <li ><a style="color:#fff;" href="/privacy_policy">Privacy Policy</a></li>                           
              </ul>
          </div>                                       
      </div>
  </div>
   
</header>
        <!-- End Header / Nav -->
        

       

       <!-- Begin page Privacy Policy -->
        <section class="page services" style="background:#fff;">
            <div class="container" style="padding-top:60px;padding:90px;">
              <h1>Privacy Policy</h1>                            
              <div class="hero"  >     
              <h3 class="quest" >Our support goal is to provide you great self-service tools that insure your success.
                     Still need help after reading these? Submit your questions and inquiries through info@hometutor.org.in</h3>                    
              </div>              
              <div class="row">
              
              <!-- Privacy Policy content begin -->
                <div class="span12 text-color">
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Information We Collect</h3>                                                   
                  <p class="norml-para" style="opacity:1;">We ask for certain information like your name, email address, and account credentials to use HOMETUTOR.
                   We use this information to run HOMETUTOR and other things mentioned in this Privacy policy (like logging and analytics).
                   When you interact with us through the Services, we may collect Personal Data and other information from you, as further described below:</p>
                   
                   <ul class="norml-list">
                    <li><i>Personal Data That You Provide Through the Services</i>: We collect Personal Data from you when you voluntarily provide such information, 
                    such as when you contact us with inquiries, respond to one of our surveys, register for access to the HOMETUTOR Services or use certain HOMETUTOR Services.
                     Wherever HOMETUTOR collects Personal Data we make an effort to provide a link to this Privacy Policy. By voluntarily providing us with Personal Data, 
                     you are consenting to our use of it in accordance with this Privacy Policy. If you provide Personal Data to the Services, you acknowledge and agree that 
                     such Personal Data may be transferred from your current location to the offices and servers of HOMETUTOR and the authorized third parties referred .</li>
                    <li><i>Cookies</i>: In operating the Services, we may use a technology called "cookies." A cookie is a piece of information that the computer that hosts 
                    our Services gives to your browser when you access the Services. Our cookies help provide additional functionality to the Services and help us analyze 
                    Services usage more accurately. For instance, our Services may set a cookie on your browser that allows you to access the Services without needing to 
                    remember and then enter a password more than once during a visit to the Services. In all cases in which we use cookies, we will not collect Personal Data 
                    except with your permission. On HOMETUTOR most web browsers, you will find a "help" section on the toolbar. Please refer to this section HOMETUTOR Services,
                     HOMETUTOR often conducts research on its customer demographics, interests and behavior based on the Personal Data and other information provided to us. 
                     This research may be compiled and analyzed on an aggregate basis, and HOMETUTOR may share this aggregate data with its affiliates, agents and business partners. 
                     This aggregate information does not identify you personally. HOMETUTOR may also disclose aggregated user statistics in order to describe our services to current
                      and prospective business partners, and to other third parties for other lawful purposes.</li>                    
                  </ul>
                   
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Our Use of Your Personal Data and Other Information</h3>                                                   
                  <p class="norml-para" style="opacity:1;">Primarily, we use personal data to run HOMETUTOR. We may use personal data to provide you with predictions about other 
                  services you might be interested in on HOMETUTOR. If we intend to use your personal data in a way we have not mentioned, we will let you know when we collect that information.</p>                                    
                  
                  <p class="norml-para" style="opacity:1;">Sometimes we aggregate user data anonymously to understand our customer base better.</p>
                  
                  <p class="norml-para" style="opacity:1;">HOMETUTOR uses the Personal Data you provide in a manner that is consistent with this Privacy Policy.
                   If you provide Personal Data for a certain reason, we may use the Personal Data in connection with the reason for which it was provided. 
                   For instance, if you contact us by email, we will use the Personal Data you provide to answer your question or resolve your problem. 
                   Also, if you provide Personal Data in order to obtain access to the HOMETUTOR Services, we will use your Personal Data to provide you with 
                   access to such services and to monitor your use of such services. HOMETUTOR and its subsidiaries and affiliates may also use your Personal Data 
                   and other personally non-identifiable information collected through the Services to help us improve the content and functionality of the Services, 
                   to better understand our users and to improve the HOMETUTOR Services. HOMETUTOR and its affiliates may use this information to contact you in the 
                   future to tell you about services we believe will be of interest to you. If we do so, each communication we send you will contain instructions
                    permitting you to "opt-out" of receiving future communications. In addition, if at any time you wish not to receive any future communications 
                    or you wish to have your name deleted from our mailing lists, please contact us as indicated below.</p>
                    
                  <p class="norml-para" style="opacity:1;">If HOMETUTOR intends on using any Personal Data in any manner that is not consistent with this Privacy Policy, 
                  you will be informed of such anticipated use prior to or at the time at which the Personal Data is collected.</p>

                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Our Disclosure of Your Personal Data and Other Information</h3>                                                   
                  <p class="norml-para" style="opacity:1;">If we sell the company, personal data may be included in the transfer.</p>
                  
                  <p class="norml-para" style="opacity:1;">You can visit the Services without providing any Personal Data. If you choose not to provide any Personal Data,
                   you may not be able to use certain HOMETUTOR Services.</p>
                  
                  <p class="norml-para" style="opacity:1;">HOMETUTOR is not in the business of selling your information. We consider this information to be a vital part of our 
                  relationship with you. There are, however, certain circumstances in which we may share your Personal Data with certain third parties without further notice to you,
                   as set forth below:</p>
                   
                   <ul class="norml-list">
                    <li><i>Business Transfers</i>: As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, 
                    dissolution or similar event, Personal Data may be part of the transferred assets.</li>
                    <li><i>Related Companies</i>: We may also share your Personal Data with our Related Companies for purposes consistent with this Privacy Policy.</li>
                    <li><i>Agents, Consultants and Related Third Parties</i>: HOMETUTOR, like many businesses, sometimes hires other companies to perform certain business-related functions.
                     Examples of such functions include mailing information, maintaining databases and processing payments. When we employ another company to perform a function of 
                     this nature, we only provide them with the information that they need to perform their specific function.</li>
                    <li><i>Legal Requirements</i>: HOMETUTOR may disclose your Personal Data if required to do so by law or in the good faith belief that such action is necessary to
                     (i) comply with a legal obligation, (ii) protect and defend the rights or property of HOMETUTOR, (iii) act in urgent circumstances to protect the personal 
                     safety of users of the Services or the public, or (iv) protect against legal liability.</li>                    
                   </ul>                  
                  
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Exclusions</h3>                                                   
                  <p class="norml-para" style="opacity:1;">This privacy policy only applies to private information we collect. If you post information in a public place, 
                  like our support forums, this is public information and can be shared and reproduced.</p>
                  
                  <p class="norml-para" style="opacity:1;">This Privacy Policy does not apply to any Personal Data collected by HOMETUTOR other than Personal Data collected through 
                  the Services. This Privacy Policy shall not apply to any unsolicited information you provide to HOMETUTOR through the Services or through any other means.
                   This includes, but is not limited to, information posted to any public areas of the Services, such as bulletin boards (collectively, "Public Areas"), 
                   any ideas for new products or modifications to existing products, and other unsolicited submissions (collectively, "Unsolicited Information"). 
                   All Unsolicited Information shall be deemed to be non-confidential and HOMETUTOR shall be free to reproduce, use, disclose, and distribute such Unsolicited 
                   Information to others without limitation or attribution.</p>
                  
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Security</h3>                                                   
                  <p class="norml-para" style="opacity:1;">We take many steps to ensure your private information and account credentials are safe, including encryption. To this end,
                   if you find a security problem and we will fix it immediately. Keep in mind, emails and communications with us are not encrypted.</p>
                   
                   <p class="norml-para" style="opacity:1;">HOMETUTOR takes reasonable steps to protect the Personal Data provided via the Services from loss, misuse, and 
                   unauthorized access, disclosure, alteration, or destruction. However, no Internet or email transmission is ever fully secure or error free. In particular, 
                   email sent to or from the Services may not be secure. Therefore, you should take special care in deciding what information you send to us via email. 
                   Please keep this in mind when disclosing any Personal Data to HOMETUTOR via the Internet.</p>
                  
                  <h3 id="abt" class="quest" style="padding-top:30px;font-weight:normal">Changes to HOMETUTOR's Privacy Policy</h3>                                                   
                  <p class="norml-para" style="opacity:1;">If anything changes, we will let you know at least days ahead of time via this website or an email.</p>
                  
                  <p class="norml-para" style="opacity:1;">The Services and our business may change from time to time. As a result, at times it may be necessary for HOMETUTOR 
                  to make changes to this Privacy Policy. HOMETUTOR reserves the right to update or modify this Privacy Policy at any time and from time to time.
                   If we do this, we will post the changes to this Privacy Policy on this page and will indicate at the top of this page the date these terms were last revised.
                    We will also notify you, either through the Service user interface, in an email notification or through other reasonable means. Please review this policy periodically,
                     and especially before you provide any Personal Data. Any such changes will become effective no earlier than fourteen (14) days after they are posted, 
                     except that changes addressing new functions of the Service or changes made for legal reasons will be effective immediately. This Privacy Policy was last updated 
                     on the date indicated above. Your continued use of the Service after the date any such changes become effective constitutes your acceptance of the new Privacy Policy.</p>
                                                                                             
                </div> 
                <!-- Privacy Policy content end -->                                                                                                                                                    
              </div>                   
            </div>          
        </section>