// Place all the styles related to the portal/library controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.library_image {
  min-height : 223px;
}

.resource_thumbnail {
   min-height : 280px;
   max-height : 300px;
}