<div class="span2">
  <div class="well span2">
    <h4>Personal Best</h4>
    <p style="color:#08005C"> <%= @personal_best %></p>
  </div>
  <div class="well span2">
    <h4>Learning curve</h4>
      <%= "#{@learning_curve[0]}% with current week with previous week and #{@learning_curve[1]}% with current month with previous month" %>
  </div>
</div>