<div class="row">
    <div class="content span11">
      <h2>Heading for Analysis </h2>
      <p class="block-tip">
        Check your performance parameters filtered by subjects and year.
      </p>
      <div class="hana-box float-left">
        <a href="/portal/analysis/time_management" >Time <br> Management</a>
        <p>Time management is concerned with the number of questions you have attended from the total questions in the events.</p>
      </div>      
      <div class="hana-box float-left ">
        <a href="/portal/analysis/accuracy" >Accuracy</a>
        <p>This parameter accounts the ratio between the correct answers to the total attempted questions. As the right answer produce positive score while the wrong one adds negative score.</p>
      </div>      
      <div class="hana-box float-left">
        <a href="/portal/analysis/proficiency" >Proficiency</a>
        <p>It brings to you the units of different subject sorted on the basis of the scores from entire questions you have attended under these units. This helps you to prepare for different competitive exams by identifying your strength and weakness across various units.</p>
      </div>      
      <div class="hana-box float-left ">
        <a href="/portal/analysis/strategy" >Strategy</a>
        <p>It measures your approach taken in answering the questions. Out of the 3 levels of questions namely L1(easy), L2 (average) and L3(hard), the best strategy is find and attend the questions of relative easines.</p>
      </div>      
    </div>
  </div>