<ul>
  <li><p>With over 25 years of experience in the industry, specializing in selling new and used high quality metal-working and construction equipment</p> </li>
  <li> <p>With over 25 years of experience in the industry, specializing in selling new and used high quality metal-working and construction equipment</p></li>
  <li> <p>With over 25 years of experience in the industry, specializing in selling new and used high quality metal-working and construction equipment</p></li>
</ul>