

<h3>Greetings from HOMETUTOR!!!</h3>


<p>We express our gratitude for joining hands with us in HOMETUTOR, an Innovative Approach to Entrance Coaching and Learning. where we give equal importance to Board Exams and Entrance Exams.</p>

<p>We instill a new culture of self learning where the students are given the privilege of learning by doing through our correspondence, online and contact classes. From now on, you can monitor the student's day-to-day performance from this account.</p>

<p>Kindly confirm your account by clicking the below link. You can set your password or update any of your personal details from your profile.</p>

<p>Feel free to contact us at info@hometutor.org.in</p>

<p>We look forward to working with you.</p>

<p>Regards,</p>

<p>Home Tutor Team</p>