<p>Congratulations!!!</p>
<p>Thank you for joining HOMETUTOR.  You are entitled to go through our program for a period of ten days where you can enjoy the benefits of HOMETUTOR. 
</p>
<p>Your total course fee is <%= @resource.course.fees %></p>
<p>You can enroll in the HOMETUTOR program either by paying the full fees or part payment of INR 3000/  in the first ten days and the remaining  amount before December 10th, 2013. 
</p>
 <p>We look forward to working with you.  Please feel free to contact us at info@hometutor.org.in
</p>
<p>Regards,
</p>
 
<p>HOMETUTOR TEAM
</p>
<p>You can confirm your account email through the link below:</p>