
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">

	<thead>
		<th> Question Set Name</th>
	</thead>

	<tbody>
		<tr>
			<td><%= @question_set.name%></td>
		</tr>
	</tbody>
</table>


<div id="updated_question_paper">
	<%= render 'added_question_papers' %>
</div>
	
<div id = "question_paper_order" >
	<h4> contents </h4>
	
</div>	

<% unless current_user.sadmin? || current_user.sstaff? || current_user.student? %>
	<div id="question_paper_bank">
		<%= render 'add_question_paper' %>
	</div>
<%end %>	